/* general */
:root {
    /* --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
   */
    --my-orange-btn: #cd3d0f;
    --my-dark-blue: #161c3b;
    --my-lightgrey:#d9dadc;
}

.little-space{
    padding-left: 5%;
    padding-right: 5%;

}
/* button.mine:hover{
    box-shadow: 0 0 0 1px white, inset 0 0 0 3px ;
} */
header .mine, #ps5-release .mine{
    color: var(--bs-white);
}


                /* specific */
/******************* topbar *************/
header{
    z-index: 5000;
    position: fixed;
    z-index: 1300;
    top: 0;
    width: 100%;
}
header .logo{
    width: 100%;
}
header .logo img{
    max-width: 100%;
    height: 1rem;
}



#login:hover{
    color: var(--bs-white);
    box-shadow: 0 0 0 .1em var(--bs-dark), inset 0 0 0 .15em var(--bs-white);
}
header a.nav-link, header a.dropdown-item{
    color: var(--bs-dark);
    font-weight: 600;
}
header a.nav-link::after{
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    height: .6rem;
    width: .6rem;
    padding-left: .2rem;
}
header a.nav-link:hover::after{
    content: url(../img/chevron-down-solid-hover.svg);
    display: inline-block;
    height: .6rem;
    width: .6rem;
    padding-left: .2rem;
}
header .btn:last-child{
    border: 0;
}
header .btn img{
    max-width: 100%;
    height: 1.5rem;
}
/******************* main body *************/
/* jumbotron */

#hero .hero-img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    max-width: 100%;
}
#hero .hero-txt{
    position: absolute;
    left: auto;
    bottom:1.5rem
}
#hero .hero-txt img{
    width: 60%;
    max-width: 80%;
}
#hero .hero-txt .mine, #it-takes-two .mine{
    background-color: var(--my-orange-btn);
    color: var(--bs-white);
}
#hero .hero-txt .mine:hover, #it-takes-two .mine:hover{
    box-shadow: 0 0 0 .1em var(--my-orange-btn), inset 0 0 0 .15em var(--bs-dark);
}
.my-card img{
    max-width: 100%;
}

/* ps5 release  */
#ps5-release div.text-uppercase{
    color: var(--bs-blue);
    font-size: 80%;
}
#ps5-release :first-child{
    font-weight: 600;
}
#ps5-release .mine, #ps4-expl button.mine{
    background-color: var(--bs-blue);
}
#ps5-release .mine:hover, #ps4-expl button.mine:hover{
    box-shadow: 0 0 0 .1em var(--bs-blue), inset 0 0 0 .15em var(--bs-white);
}
#ps5-release .play{
    max-width: 100%;
}
#ps5-release .play img{
    max-width: 100%;
}
#ps5-release .frst{
    border-bottom: 2px solid var(--bs-blue);
}
#ps5-release .device img{
    max-width: 100%;
    opacity: 0.7;
}
#ps5-release .frst img{
    opacity: 1;
}

/* it takes two */
#it-takes-two{
    width: 100%;
    height: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--bs-white);
}
#it-takes-two img{
    width: 330px;
}

/* games release */
#games-release{
    color: var(--bs-white);
}

/* ps4 section */
#ps4-expl{
    font-weight: 600;
}
#ps4-expl img{
    max-width: 100%;
}
#ps4-expl button.mine{
    font-size: 70%;
    color: var(--bs-white);
}

/* PlayStation plus  */
#play-plus{
    font-weight: 600;
}
#play-plus .col-12 img{
    width: 80%;
    max-width: 100%;
}
#play-plus .mine{
    background-color: var(--my-lightgrey);
    font-weight: 600;
}
#play-plus .mine:hover{
    box-shadow: 0 0 0 .1em var(--my-lightgrey), inset 0 0 0 .15em var(--bs-secondary);
}
/* store discount */
#discount img{
    width: 100%;
    max-width: 100%;
}

/* playstation now */
#play-now{
    background-color: var(--my-dark-blue);
    color: var(--bs-white);
    padding: 2rem 0;
}
#play-now img{
    width:60%;
    max-width: 100%;
}
#play-now .mine:hover{
    color: var(--bs-dark);
}

/* social meida section */
#social .col{
  text-align: center;      
}
#social .col img{
    width: 100%;
}

/* footer */
footer{
    background-color: var(--bs-blue);
    color: var(--bs-white);
    font-weight: 500;
    font-size: 80%;
}
footer li{
    list-style: none;
}
footer .language .col-1 img{
    max-width: 100%;
    height: 1.3rem;
}
footer .language div{
    width: 3rem;
}
footer .bot-f {
    font-size: 80%;
}
footer .bot-f img{
    height: 2.5rem;
    max-width: 100%;
}







@media screen and (min-width:768px) {
    #play-plus .hide{
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        height: 300px;
    }
    #play-now .hide{
        background-image: url(../img/ps-now-april-featured-image-block.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        height: 100%;
    }
    
    #social .col img{
    max-width: 140px;    
    }
    
}



@media screen and (min-width:992px) {
    .hero-txt{
        max-width: 40%;
    }
    #it-takes-two div{
        width: 40%;
    }

}
